*{
    margin: 0%;
    padding: 0%;
   

}

html,body{
    height: 100%;
    width: 100%;
}

#main{
  
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.shape{
  
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#circle{
    border-radius: 50%;
    translate: -80px;
}
#circle:hover{
    background-color: hsl(133, 93%, 47%);

}

#rhombus{
    margin: 50px;
    rotate: 45deg;
    translate: -50px;
}
#rhombus:hover{
    background-color: blue;
}

#square:hover{
    background-color: red;

}
#rhombus h2{
    rotate: -45deg;
}

h1{
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}